@*footer*@
<footer class="section footer-minimal context-dark">
    <div class="container wow-outer">
        <div class="wow fadeIn">
            <div class="row row-60">
                <div class="col-12">
                    <ul class="footer-minimal-nav">
                        <li><a href="#">Menu</a></li>                       
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="social-list">
                        <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
                        <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
                        <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Oğuzhan Seçgel</span></p>
        </div>
    </div>
</footer>