@model UpdateUserDto
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>İsim</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyisim</label>
    <input type="text" asp-for="SurName" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Kullanıcı Güncelle</button>
</form>
