@model AddCategoryDto
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    @* <span asp-validation-for="Name" class="text-danger"></span>*@
    <br />
    <button class="btn btn-primary">Kategoriyi Ekle</button>
</form>
