@model AddCategoryVM
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <span asp-validation-for="CategoryName" class="text-warning"></span>
    <br />
    <button class="btn btn-primary">Kategoriyi Ekle</button>
</form>
