@{
	Layout = null;
}

<div class="nav-header">
	<div class="brand-logo">
		<a href="index.html">
			<span class="logo-compact"><img src="~/adminweb/images/logo-compact.png" alt=""></span>
		</a>
	</div>
</div>