@{
	Layout = null;
}

<div class="nk-sidebar">
	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a href="/About/Index/" aria-expanded="false">
					<i class="icon-notebook menu-icon"></i><span class="nav-text">Hakkımızda Paneli</span>
				</a>
			</li>
			<li>
				<a href="/Category/Index/" aria-expanded="false">
					<i class="icon-lock menu-icon"></i><span class="nav-text">Kategori Düzenleme Paneli</span>
				</a>
			</li>
			<li>
				<a href="/Product/Index/" aria-expanded="false">
					<i class="icon-clock menu-icon"></i><span class="nav-text">Ürün Yönetim Paneli</span>
				</a>
			</li>
		</ul>
	</div>
</div>