@{
	Layout = null;
}

<div class="nk-sidebar">
	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a href="/Default/Index" target="_blank" aria-expanded="false">
					<i class="icon-rocket menu-icon"></i><span class="nav-text">Siteye Git</span>
				</a>
			</li>
			<li>
				<a href="/AdminPanelWelcome/Index/" aria-expanded="false">
					<i class="icon-screen-desktop menu-icon"></i><span class="nav-text">Anasayfa</span>
				</a>
			</li>
			<li>
				<a href="/About/Index/" aria-expanded="false">
					<i class="icon-notebook menu-icon"></i><span class="nav-text">Hakkımızda Paneli</span>
				</a>
			</li>
			<li>
				<a href="/Category/Index/" aria-expanded="false">
					<i class="icon-puzzle menu-icon"></i><span class="nav-text">Kategori Düzenleme Paneli</span>
				</a>
			</li>
			<li>
				<a href="/Product/Index/" aria-expanded="false">
					<i class="icon-clock menu-icon"></i><span class="nav-text">Ürün Yönetim Paneli</span>
				</a>
			</li>
			<li>
				<a href="/AdminImageProduct/Index/" aria-expanded="false">
					<i class="icon-clock menu-icon"></i><span class="nav-text">Ürün Görselleri</span>
				</a>
			</li>
			<li>
				<a href="/AdminUser/Index/" aria-expanded="false">
					<i class="icon-people menu-icon"></i><span class="nav-text">Çalışanlar</span>
				</a>
			</li>
			<li>
				<a href="/Role/Index/" aria-expanded="false">
					<i class="icon-game-controller menu-icon"></i><span class="nav-text">Roller</span>
				</a>
			</li>
			<li>
				<a href="/RoleAssign/Index/" aria-expanded="false">
					<i class="icon-speedometer menu-icon"></i><span class="nav-text">Rol Atamaları</span>
				</a>
			</li>
			<li>
				<a href="/Login/LogOut/" aria-expanded="false">
					<i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
				</a>
			</li>
		</ul>
	</div>
</div>