@model List<ResultProductDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<a href="/Product/AddProduct/" class="btn btn-info">Yeni Ürün Girişi</a>
<br />
<br />
<table class="table table-bordered">
	<tr>
		<th>Ürün adı</th>
		<th>Ürün fiyatı</th>
		<th>Ürün açıklaması</th>
		<th>Kategorisi</th>
		<th>Güncelle</th>
		<th>Sil</th>
		<th>Görsel Ekle</th>
	</tr>
	@foreach (var item in Model)
	{
		{
			
			<tr>
				<th>@item.ProductName</th>
				<th>@item.ProductPrice</th>
				<th>@item.ProductDescription</th>
				<th>@item.CategoryID</th>
 
 

				<td><a href="/Product/UpdateProduct/@item.ProductID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
				<td><a href="/Product/DeleteProduct/@item.ProductID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
				<td><a href="/AdminImageProduct/CreateProductImage/@item.ProductID" class="btn mb-1 btn-rounded btn-outline-info">Görsel Ekle</a></td>
			</tr>
		}
	}
</table>
